app/.venv/
app/__pycache__/
*.pyc
.env
kubectl
*.zip

# Terraform
*.tfvars
!*.tfvars.example
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json

# Chaves
*.pem
*.key

# Binários locais
kubectl
