tenancy_ocid     = "ocid1.tenancy.oc1..EXEMPLO"
user_ocid        = "ocid1.user.oc1..EXEMPLO"
fingerprint      = "00:00:00:00:00:00:00:00:00:00:00:00:00:00:00:00"
private_key_path = "/home/SEU_USUARIO/.oci/oci_api_key.pem"
region           = "sa-saopaulo-1"
compartment_ocid = "ocid1.compartment.oc1..EXEMPLO"